<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="stylesheet" href="events.css">

    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css"> --}}
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css"> 
    
    <script src="https://unpkg.com/react@16/umd/react.development.js"></script> --}}
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
    <link href='fullcalendar/packages/core/main.css' rel="stylesheet" />
    <link href='fullcalendar/packages/core/main.min.css' rel="stylesheet" />
    <link href='fullcalendar/packages/daygrid/main.css' rel="stylesheet"/>    
    <link href='fullcalendar/packages/daygrid/main.min.css' rel="stylesheet"/>
    <link href='fullcalendar/packages/timegrid/main.css' rel="stylesheet"/>    
    <link href='fullcalendar/packages/timegrid/main.min.css' rel="stylesheet"/>
    <script src='fullcalendar/packages/core/main.js'></script>
    <script src='fullcalendar/packages/daygrid/main.js'></script>
    <script src='fullcalendar/packages/interaction/main.js'></script>
    <script src='fullcalendar/packages/timegrid/main.js'></script>
    <script src='fullcalendar/packages/list/main.js'></script>
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>

    <title>Event Page</title>
</head>

<body id="page-top">

     {{>header}} 
     
    {{!-- <div> 
        {{!-- <img class = "header-image" src="volunteer.png" alt=""> --}}
    </div> --}}
     {{!-- <div><h1 class="main-title">Volunteer Event Page</h1></div> --}}
   
    {{!-- <div class = "wrapper">
         <a href="create-event.html"><button type="submit" class="new-ev-button">Create New Event</button></a>
    </div> --}}
    <!-- Masthead -->
  <header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">

      <!-- Masthead Heading -->
      <h1 class="masthead-heading text-uppercase mb-0">Volunteer Events Page</h1>

      <!-- Icon Divider -->
      <div class="divider-custom divider-light">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon">
          <i class="fas fa-star"></i>
        </div>
        <div class="divider-custom-line"></div>
      </div>

      <!-- Masthead Subheading -->
      <p class="masthead-subheading font-weight-light mb-0"></p>

    </div>
  </header>
    <div class = "search-buttons">
    <form id="searchForm" action="/event" method="GET">
                <input type="text" name="eventName" class="searchTerm" placeholder="Search Events">
                <button class="searchButton">Go</button>
    </form>
     <button class = "toggle-button" id = "toggle-cal" onclick="toggleCal()">List View</button>
   </div>

    <div class= "event-list" id= "event-list" style="display: none;">
        <ul class="event-ul">
            {{#each events}}
                <form action="{{{this.href}}}" method="GET">
                    <input type="hidden" name="eventName" value="{{{this.eventName}}}">
                    <button class = "button-border" type="submit">
                        <li class="event-li">
                            <a href="{{{this.href}}}">
                                <div class="event-content">

                                    <div class="event-info">
                                        <h4 class="event-title">{{this.eventName}}</h4>
                                        <div class="event-info-1">
                                            <span>{{this.date}}</span>
                                            <span>{{this.time}}</span>
                                        </div>
                                        <div class="event-info-2">
                                            <span>{{this.location}}</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </button>
                </form>
            {{/each}}
        </ul>
        <footer class="footer__StyledContainer-sc-4jwnt4-0 hbodsC">
    <div class="footer__StyledSocial-sc-4jwnt4-1 gQiJAJ"></div>
    <!-- Footer Social Icons -->
        <ul class="footer__StyledSocialList">
          <li>
            <a href="https://github.com/bitprj" target="_blank" rel="nofollow noopener noreferrer" aria-label="GitHub" class="footer__StyledSocialLink-sc-4jwnt4-3 kRdsPj">
            <img class= "sm-icon" src="icons/codepen.png" role="img" viewBox="0 0 438.549 438.549"><title>Codepen</title></img>
            </a>
          </li>
          <li>
            <img class= "sm-icon" src="icons/blank.png" role="img"></img>
          </li>
          <li>
            <a href="https://github.com/bitprj" target="_blank" rel="nofollow noopener noreferrer" aria-label="GitHub" class="footer__StyledSocialLink-sc-4jwnt4-3 kRdsPj">
            <img class= "sm-icon" src="icons/linkedin.png" role="img" viewBox="0 0 438.549 438.549"><title>Codepen</title></img>
            </a>
          </li>
           <li>
            <img class= "sm-icon" src="icons/blank.png" role="img"></img>
          </li>
          <li>
            <a href="https://github.com/bitprj" target="_blank" rel="nofollow noopener noreferrer" aria-label="GitHub" class="footer__StyledSocialLink-sc-4jwnt4-3 kRdsPj">
            <img class= "sm-icon" src="icons/facebook.png" role="img" viewBox="0 0 438.549 438.549"><title>Codepen</title></img>
            </a>
          </li>
           <li>
            <img class= "sm-icon" src="icons/blank.png" role="img"></img>
          </li>
          <li>
            <a href="https://github.com/bitprj" target="_blank" rel="nofollow noopener noreferrer" aria-label="GitHub" class="footer__StyledSocialLink-sc-4jwnt4-3 kRdsPj">
            <img class= "sm-icon" src="icons/instagram.png" role="img" viewBox="0 0 438.549 438.549"><title>Codepen</title></img>
            </a>
          </li>
           <li>
            <img class= "sm-icon" src="icons/blank.png" role="img"></img>
          </li>
          <li>
            <a href="https://github.com/bitprj" target="_blank" rel="nofollow noopener noreferrer" aria-label="GitHub" class="footer__StyledSocialLink-sc-4jwnt4-3 kRdsPj">
            <img class= "sm-icon" src="icons/github.png" role="img" viewBox="0 0 438.549 438.549"><title>Codepen</title></img>
            </a>
          </li>
         </ul>
          <div>Designed with ❤️ at Bit Project</div>
        </div>
    
      
    </footer>
    </div>
    <div class = "calendar", id = "calendar-component", style="display: block;">
    <div id = "modal-event">

    </div>
    <footer class="footer__StyledContainer-sc-4jwnt4-0 hbodsC">
    <div class="footer__StyledSocial-sc-4jwnt4-1 gQiJAJ"></div>
    <!-- Footer Social Icons -->
        <ul class="footer__StyledSocialList">
          <li>
            <a href="https://github.com/bitprj" target="_blank" rel="nofollow noopener noreferrer" aria-label="GitHub" class="footer__StyledSocialLink-sc-4jwnt4-3 kRdsPj">
            <img class= "sm-icon" src="icons/codepen.png" role="img" viewBox="0 0 438.549 438.549"><title>Codepen</title></img>
            </a>
          </li>
          <li>
            <img class= "sm-icon" src="icons/blank.png" role="img"></img>
          </li>
          <li>
            <a href="https://github.com/bitprj" target="_blank" rel="nofollow noopener noreferrer" aria-label="GitHub" class="footer__StyledSocialLink-sc-4jwnt4-3 kRdsPj">
            <img class= "sm-icon" src="icons/linkedin.png" role="img" viewBox="0 0 438.549 438.549"><title>Codepen</title></img>
            </a>
          </li>
           <li>
            <img class= "sm-icon" src="icons/blank.png" role="img"></img>
          </li>
          <li>
            <a href="https://github.com/bitprj" target="_blank" rel="nofollow noopener noreferrer" aria-label="GitHub" class="footer__StyledSocialLink-sc-4jwnt4-3 kRdsPj">
            <img class= "sm-icon" src="icons/facebook.png" role="img" viewBox="0 0 438.549 438.549"><title>Codepen</title></img>
            </a>
          </li>
           <li>
            <img class= "sm-icon" src="icons/blank.png" role="img"></img>
          </li>
          <li>
            <a href="https://github.com/bitprj" target="_blank" rel="nofollow noopener noreferrer" aria-label="GitHub" class="footer__StyledSocialLink-sc-4jwnt4-3 kRdsPj">
            <img class= "sm-icon" src="icons/instagram.png" role="img" viewBox="0 0 438.549 438.549"><title>Codepen</title></img>
            </a>
          </li>
           <li>
            <img class= "sm-icon" src="icons/blank.png" role="img"></img>
          </li>
          <li>
            <a href="https://github.com/bitprj" target="_blank" rel="nofollow noopener noreferrer" aria-label="GitHub" class="footer__StyledSocialLink-sc-4jwnt4-3 kRdsPj">
            <img class= "sm-icon" src="icons/github.png" role="img" viewBox="0 0 438.549 438.549"><title>Codepen</title></img>
            </a>
          </li>
         </ul>
          <div>Designed with ❤️ at Bit Project</div>
        </div>
    
      
    </footer>
  
    <script src='dist/main.js'></script>  
    <script src="toggle-script.js"></script>

</body>
</html>
