<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="profile.css">   
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons">
    <link rel="stylesgeet" href="https://rawgit.com/creativetimofficial/material-kit/master/assets/css/material-kit.css">
    
</head>

<body class="profile-page">  
    {{>header}} 
    

    <div class="main main-raised">
		<div class="profile-content">
            <div class="container">
                <div class="row">
	                <div class="col-md-6 ml-auto mr-auto">
        	           <div class="profile">
	                        <div class="avatar">
	                            <img src="https://www.biography.com/.image/ar_1:1%2Cc_fill%2Ccs_srgb%2Cg_face%2Cq_auto:good%2Cw_300/MTU0NjQzOTk4OTQ4OTkyMzQy/ansel-elgort-poses-for-a-portrait-during-the-baby-driver-premiere-2017-sxsw-conference-and-festivals-on-march-11-2017-in-austin-texas-photo-by-matt-winkelmeyer_getty-imagesfor-sxsw-square.jpg" alt="Circle Image" class="img-raised rounded-circle img-fluid">
	                        </div>
	                        <div class="name">
	                            <h3 class="title">{firstName}{lastName}</h3>
								<h6>{userType}</h5>
                <div class ="about-container">
                  <h5>Email: {email}</h6>
                  <h5>Date of Bith: {dateOfBirith}</h6>
                </div>
	                        </div>
	                    </div>
    	            </div>
                </div>
      {{!-- <div class= "event-list" id= "event-list" style="display: block;">
        <ul class="event-ul">
            {{#each events}}
                <form action="{{{this.href}}}" method="GET">
                    <input type="hidden" name="eventName" value="{{{this.eventName}}}">
                    <button class = "button-border" type="submit">
                        <li>
                            <a href="{{{this.href}}}">
                                <div class="event-content">

                                    <div class="event-info">
                                        <h4 class="event-title">{{this.eventName}}</h4>
                                        <div class="event-info-1">
                                            <span>{{this.date}}</span>
                                            <span>{{this.time}}</span>
                                        </div>
                                        <div class="event-info-2">
                                            <span>{{this.location}}</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </button>
                </form>
            {{/each}}
        </ul>
      </div> --}}
      
      {{!-- <div class = "calendar", id = "calendar-component", style="display: none;"></div> --}}
        <div>
          <h1 class="header-events" style="text-align:center;" >PAST EVENTS</h1>
        </div>
          <div class = "events" >
        <ul class="event-ul" style="text-align:center;">
            <li>
                <a href="/turkey-trot">
                <div class=event-content>
                    <div class="event-info">
                        <h4 class="event-title">Coastal Cleanup</h4>
                        <div class="event-info-1">
                            <span>December 2, 2019</span>
                            <span>| 2:30 PM</span>
                        </div>
                        <div class="event-info-2">
                            <span>267 Arroyo Heights Davis, CA 95616</span>
                        </div>
                    </div>
                </div>
                </a>
            </li>
            <li>
                <a href="/coastal-cleanup">
                <div class=event-content>
                    <div class="event-info">
                        <h4 class="event-title">Davis Turkey Trot</h4>
                        <div class="event-info-1">
                            <span>December 2, 2019</span>
                            <span>| 2:30 PM</span>
                        </div>
                        <div class="event-info-2">
                            <span>267 Arroyo Heights Davis, CA 95616</span>
                        </div>
                    </div>
                </div>
                </a>
            </li>
            <li>
                <a href="event_page_1.html">
                <div class=event-content>
                    <div class="event-info">
                        <h4 class="event-title">Davis Marathon</h4>
                        <div class="event-info-1">
                            <span>December 2, 2019</span>
                            <span>| 2:30 PM</span>
                        </div>
                        <div class="event-info-2">
                            <span>267 Arroyo Heights Davis, CA 95616</span>
                        </div>
                    </div>
                </div>
                </a>
            </li>
        </ul>
    </div>
          </div>

        
            </div>
            
        </div>

         {{!-- end of raised page --}}
       
        
	</div>

    <div style="text-align:center;">
    <a href="/logout"> <button type="button" class="logout">Logout</button></a>
   </div>

	<footer class="footer">
        <p>Designed with ❤️ at Bit Project</p>
    </footer>
    
    <script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js" integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js" integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9" crossorigin="anonymous"></script>
 
</body>