<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel = "stylesheet" href="../event.css">
    <title>Document</title>
</head>

<body class = "first-body">
     {{>header}} 
    <img class = "header-image" src="../turkey_trot.jpg" alt="Marathon runners">
    <h1 class = "header-text"> {{eventName}} </h1>
        <div class="date-box">
            <h2 class = "month">{{month}}</h2>
            <h2 class = "day"> {{day}} </h2>
            <h2 class = "time"> Starts at {{time}}</h2>        
        </div>   
    <div class="description">
        <p>{{description}}</p>
        <h3 class = "info-header"> More Info: </h3>
        <p> {{description}}</p>
    </div>
</body>
</html>